
[flake8]
max-line-length = 120
# W293: Blank line contains whitespace
# W503: Line break occurred before a binary operator
# E302: Expected 2 blank lines, found 1
# E305: Expected 2 blank lines after class or function definition, found 1
# E704: Multiple statements on one line (def)
ignore = W293, W503, E302, E305, E704